body {
    margin: 0;
    text-align: center;
    background-color: darkblue;
    font-family: Arial, sans-serif;
    color: black;
}

h1 {
    margin-top: 2rem;
    font-size: 3rem;
    color: yellow;
    text-shadow: 2px 2px black;
}


.dice-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
}

.dice {
    font-size: 7rem;
    margin-bottom: 10px;
}


#winner-msg {
    font-size: 2rem;
    color: yellow;
    margin: 1rem 0;
}


.scoreboard {
    margin: 1rem auto;
    font-size: 1.5rem;
    color: white;
}

.roll-animation {
    animation: roll 1s 1;
}

@keyframes roll {
    0% {
         transform: rotate(0deg);
         }

    100% {
         transform: rotate(360deg);
         }
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 1.5rem;
    background-color: yellow;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: skyblue;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 2rem auto;
}

li {
    font-size: 1.5rem;
    padding: .5rem;
    background-color: whitesmoke;
    border-radius: 5rem;
    box-shadow: 2px 2px 6px black;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

li span {
    font-size: 2rem;
    margin-left: 1rem;
}